.frame-child {
  position: relative;
  border-radius: var(--br-11xl);
  background-color: var(--color-cornflowerblue);
  width: 177px;
  height: 62px;
}
.analyse {
  position: relative;
  letter-spacing: 0.03em;
  margin-top: 167px;
}
.rectangle-parent {
  position: absolute;
  top: 504px;
  left: 109px;
  width: 177px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.frame-icon {
  position: relative;
  width: 165px;
  height: 146px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.frame3 {
  position: absolute;
  top: 136px;
  left: 557px;
  width: 166px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.analyse-the-csv {
  position: relative;
  letter-spacing: 0.03em;
}
.add-file-icon {
  position: undefined;
  width: 88px;
  height: 71px;
  object-fit: cover;
  margin-bottom: 17px;
}
.tweet-bidenxlsx {
  position: undefined;
  letter-spacing: 0.03em;
  display: inline-block;
  width: 44px;
  margin-bottom: 20px;
}
.frame6 {
  width: 282px;
  height: 88px;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-23xl);
}
.frame5,
.frame6,
.frame7 {
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}
.frame7 {
  border: 0;
  background-color: transparent;
  font-family: var(--font-exo-2);
  font-size: var(--font-size-lg);
  width: 392px;
  height: 148px;
  flex-direction: column;
  justify-content: flex-end;
}
.frame5 {
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-darkgray-100);
  box-sizing: border-box;
  width: 1047px;
  height: 226px;
  flex-direction: row;
  padding: 39px 5px;
  justify-content: flex-start;
  gap: 257px;
  font-size: var(--font-size-xl);
}
.analyse-the-csv-parent,
.frame4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.analyse-the-csv-parent {
  align-self: stretch;
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  height: 324px;
  padding: var(--padding-2xl) var(--padding-7xl) 0;
  box-sizing: border-box;
  justify-content: flex-start;
  gap: var(--gap-12xl);
}
.frame4 {
  position: absolute;
  top: 504px;
  left: 67px;
  width: 1146px;
  overflow: hidden;
  justify-content: center;
  color: var(--color-black);
}
.analysis-the-tweets1,
.tweetinsight1 {
  letter-spacing: 0.03em;
  display: inline-block;
}
.analysis-the-tweets1 {
  position: absolute;
  top: 328px;
  left: 479px;
  width: 322px;
  height: 26px;
}
.tweetinsight1 {
  cursor: pointer;
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
  width: 107px;
}
.tweetinsight-container {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-black);
  width: 1280px;
  height: 79px;
  display: flex;
  flex-direction: column;
  padding: 0 var(--padding-23xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
  color: var(--color-white);
}
.about3 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.03em;
}
.about2,
.home2 {
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  top: 30px;
  left: 1114px;
  width: 45px;
  height: 19px;
  color: inherit;
}
.home2 {
  left: 981px;
  width: 44px;
}
.frame-root,
.frame8 {
  overflow: hidden;
  text-align: left;
  font-family: var(--font-exo-2);
}
.frame8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1280px;
  height: 79px;
  font-size: var(--font-size-base);
  color: var(--color-silver);
}
.frame-root {
  position: relative;
  background-color: var(--color-black);
  width: 100%;
  height: 900px;
  font-size: var(--font-size-2xl);
  color: var(--color-white);
}
